@font-face {
	font-family: mont-normal;
	src: url("fonts/Mont/mont_extralightdemo.ttf");

}
@font-face {
	font-family: mont-heavy;
	src: url("fonts/Mont/mont_heavydemo.ttf");

}
@font-face {
	font-family: emoji-one;
	src: url("fonts/EmojiOneColor.ttf");
}
@font-face {
	font-family: myriad-condit;
	src: url("fonts/Myriad Pro/MYRIADPRO-CONDIT.OTF");
}

header {
	background: rgb(45, 168, 149);
}
.nav-bat {
	text-decoration: none;
	color: white;
	font-family: mont-normal;
	font-size: 2.1rem;
	background: none;
	border: none;
}

.nav-bat:hover {
	border: solid 1px;
	border-color: black;
	color: black;
	border-radius: 20px;

}

.language {
	font-family: mont-normal;
	font-size: 2.1rem;
	color: white;

}
.form-check-input {
	font-size: 2.1rem;
}

.Aleksey {
	font-family: mont-heavy;
	color: rgb(84, 78, 78);
	line-height: 1.25;
}

.frontend {
	font-family: mont-normal;
	color: rgb(84, 78, 78);
	line-height: 1.25;
}

.dialog {
	font-family: emoji-one;
}

.card-header {
	font-family: mont-heavy;
	background-color: rgba(45, 168, 149, 0.7);
	color: white;
	line-height: 2rem;
	font-size: 2rem;
}
.card {
	border: solid 0.9rem;
	border-color: rgb(45, 168, 149);
	border-radius: 50px;
}

.btn {
	border: none;
	border-radius: 45px;
	width: 249px;
  	height: 94px;
  	background-color: rgba(38, 120, 196, 0.7);
  	font-family: myriad-condit;
  	font-size: 47px;
}

.section-portfolio {
	background: rgb(45, 168, 149);
}

.btn-car {
	background-color: white;
	border: none;
	width: 5.3rem;
	height: 2.9rem;
	border-radius: 1.5rem;
	box-shadow: 0 0 10px #fff;
	color: rgb(37, 147, 130);
	ont-size: 60px;
  	font-family: "Arial";
	line-height: 1;
	font-weight: bolder;
}

.btn-car:hover {
	background-color: rgb(43, 164, 145);
	border: none;
	width: 5.3rem;
	height: 2.9rem;
	border-radius: 1.5rem;
	box-shadow: inset 1px 1px 10px -1px;
}

.image-bord {
	border: 10px solid;
	border-color: rgb(255, 255, 255, 0.9);
	border-radius: 25px;
}

.portfolio-text {
	font-family: mont-heavy;
	color: white;
}
.cont-text {
	color: #544e4e;
	font-family: mont-normal;
}

mark {
	color: #544e4e;
	font-family: mont-heavy;
	background: none;
}

.icon-cont-start {
	border: 2px solid black;
  	border-bottom: 0;
  	border-top-right-radius: 10px;
  	border-top-left-radius: 10px;


}
.icon-cont {
	border: 2px solid black;
  	border-top: 0;
  	border-bottom: 0;
}
.icon-cont-end {
	border: 2px solid black;
  	border-top: 0;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
}



.icon-text {
	font-family: mont-normal;
	font-size: 2rem;
	color: #544e4e;
	text-decoration: none;
}
.icon {
}

.icon:hover .icon-text,
.icon:hover .icon-hover {
		background-color: rgb(45, 168, 149);
		color: white;
}

.mail {
	font-family: mont-heavy;
	font-size: 2rem;
	text-decoration: none;
	color: white;
	background-color: rgb(45, 168, 149);
	border: 1px solid black;
	border-radius: 15px;
}

.mail-text {
	font-family: mont-heavy;
	font-size: 3vw;
	text-decoration: none;
	color: white;
	background-color: rgb(45, 168, 149);
}

.mail:hover {
	text-decoration: underline;
	color: white;
}

.mail-text:hover {
	color: white;
}

footer {

	background: rgb(45, 168, 149);
	color: white;

}

.Valeria {
	text-decoration: none;
	color: white;
}

.Valeria:hover {
	text-decoration: underline;
	color: #544e4e;
}

